<p>Hello, world!</p>
<textarea id="f1"></textarea>
<input type="checkbox" id="f2"></input>
<script>
  var text = document.getElementById("f1");
  var checkbox = document.getElementById("f2");
  var key = "superSecretNotes";

  var save = function() {
    var state = { version: 1, f1: text.value, f2: checkbox.checked };
    var stored = JSON.stringify(state);
    localStorage.setItem(key, stored);
  };

  var restore = function() {
    var stored = localStorage.getItem(key);
    if (stored === undefined)
      return;

    try {
      var state = JSON.parse(stored);
    } catch (e) {
      return;
    }

    if (state.version === undefined || state.version < 1)
      return;

    text.value = state.f1;
    checkbox.checked = state.f2;
  }

  restore();
  text.addEventListener("change",  save);
  text.addEventListener("blur",  save);
  checkbox.addEventListener("change",  save);
  checkbox.addEventListener("blur",  save);
</script>
