<p>Hello, world!</p>
<form id="form" action="">
  <textarea v-model="text" lazy></textarea>
  <input type="checkbox" v-model="checked">
</form>
<script src="js/vue.min.js"></script>
<script>
  var text = document.getElementById("f1");
  var checkbox = document.getElementById("f2");
  var key = "superSecretNotes";

  var vm = new Vue({
    el: "#form",
    data: {
      text: "hello",
      checked: false
    }
  });

  function save() {
    var state = { version: 1, f1: vm.text, f2: vm.checked };
    var stored = JSON.stringify(state);
    localStorage.setItem(key, stored);
  };

  function restore() {
    var stored = localStorage.getItem(key);
    if (stored === undefined)
      return;

    try {
      var state = JSON.parse(stored);
    } catch (e) {
      return;
    }

    if (state === null || state.version === undefined || state.version < 1)
      return;

    vm.text = state.f1;
    vm.checked = state.f2;
  }

  restore();
  vm.$watch("text", save);
  vm.$watch("checked", save);
</script>
